include LICENSE
include CHANGES.rst
include README.rst
global-exclude *.pyc
global-exclude *.pyd
global-exclude *.pyo
global-exclude *.so
global-exclude *.lib
global-exclude *.dll
global-exclude *.a
global-exclude *.obj
